.header {
  background-color: #333;
  overflow: hidden;
  color: cornsilk;
}

.header img {
  float: left;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: 50px;
}

.header h1 {
  float: left;
  margin-top: 35px;
  margin-bottom: 35px;
}

.balance {
  float: right;
  margin: 35px;
}

.field {
  width: 100%;
  height: 30px;
  border-radius: 4px;
  position: relative;
  color: cornsilk;
}
